hr.style1 {
	border-top: 1px solid #8c8b8b;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
}

hr.style3 {
	border-top: 3px double #8c8b8b;
	border-bottom: 3px double #8c8b8b;
}

hr.style4 {
    border-top: 3px double #8c8b8b;
	border-bottom: 3px double #8c8b8b;
	padding: 0.5px;
}